body {
    background-color: aqua
}

.eventHeroes {
    position: relative;
    display: inline-block;
    height: 200px;
    width: 200px
}
.eventTitle {
    font-size: 5em;
    margin-bottom: 2em;
}
.eventTitle:hover { 
    background-color: yellow;
}

.eventCharacters{
    img{
        position: relative;
        display: inline-block;
        height: 80px;
        width: 80px;
        margin-left: 3em;
    }
    h2{
        position: relative;
        display: inline-block;
    }
    p{
          position: relative;
        display: inline;
    }
}

.listCharacters{
    img{
        position: relative;
        display: inline-block;
        height: 160px;
        width: 160px
    }
    h2{
        position: relative;
        display: inline-block;
    }
    p{
        position: relative;
        display: inline;
    }
}